<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="true">
    <php>
        <var name="DB_DSN" value="mysql:dbname=uflex_ut;host=localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="" />
        <var name="DB_DBNAME" value="uflex_ut" />
    </php>
    <testsuites>
        <testsuite name="uFlex Test Suite">
            <directory>./src</directory>
        </testsuite>
    </testsuites>

</phpunit>