<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="../autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="uFlex Test Suite">
            <directory>./src</directory>
        </testsuite>
    </testsuites>

</phpunit>